<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Video Streaming Demonstration</title>
    <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}" type="text/javascript"></script>
    <script type="text/javascript"> 
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>

<body>
    <div class="">
        <div class="min-h-screen bg-gray-100">
            <!-- Import Header Component -->
            {% include 'components/Header.html' %}
            <main class="py-10">
                {% include 'components/HumanStats.html' %}
                <section class="mb-8">
                    <header>
                        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                            <h1 class="text-3xl font-bold leading-tight text-gray-900">
                                Video Streaming
                            </h1>
                        </div>
                    </header>
                    <div>
                        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                            <!-- Replace with your content -->
                            <div class="px-4 py-8 sm:px-0">
                                <div
                                    class="p-4 border-4 border-dashed border-gray-200 rounded-lg flex justify-center align-center">
                                    <img src="{{ url_for('video_feed') }}" width="90%" height="auto">
                                </div>
                            </div>
                            <!-- /End replace -->
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <!-- Import Footer Component -->
        {% include 'components/Footer.html' %}
    </div>
</body>

</html>